{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<h1>Bienvenue sur Teens-grr 🔥</h1>

	<h3 class="mt-4">🔥 Posts populaires</h3>
	{% for post in topPosts %}
		{% include 'partials/_post_card.html.twig' with { post: post } %}
	{% endfor %}

	<h3 class="mt-4">🆕 Derniers posts</h3>
	{% for post in latestPosts %}
		{% include 'partials/_post_card.html.twig' with { post: post } %}
	{% endfor %}

{% endblock %}
