{# templates/partials/moderation/_moderation_menu.html.twig #}
{# Menu latéral pour dashboard modération #}

<nav>
    <ul>
        <li><a href="{{ path('moderation_dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('moderation_dashboard') }}#posts">Posts signalés</a></li>
        <li><a href="{{ path('moderation_dashboard') }}#comments">Commentaires signalés</a></li>
    </ul>
</nav>