{# templates/partials/comments/_comment_form.html.twig #}
{# Formulaire de création de commentaire #}

{{ form_start(form) }}
    {{ form_row(form.content) }}
    <button type="submit">Commenter</button>
{{ form_end(form) }}