{# templates/moderation/dashboard.html.twig #}
{# affiche à la fois posts et commentaires auto-masqués #}

{% extends 'base.html.twig' %}

{% block title %}Dashboard Modération{% endblock %}

{% block body %}
<div class="container mt-4">

    <div class="row">

        {# ------------------------------ #}
        {# Menu latéral pour navigation #}
        {# ------------------------------ #}
        <div class="col-md-3">
            {% include 'partials/moderation/_moderation_menu.html.twig' with { posts: posts, comments: comments } %}
        </div>

        {# ------------------------------ #}
        {# Contenu principal : posts et commentaires masqués #}
        {# ------------------------------ #}
        <div class="col-md-9">

            {# Flash messages pour feedback utilisateur #}
            {% include 'partials/flash/_flash_messages.html.twig' %}

            {# ------------------------------ #}
            {# POSTS AUTO-MASQUÉS #}
            {# ------------------------------ #}
            <h2>Posts auto-masqués</h2>
            {% if posts is empty %}
                <p>Aucun post masqué pour le moment.</p>
            {% else %}
                {% for post in posts %}
                    {# Partial dédié à l'affichage et restauration d'un post #}
                    {% include 'partials/moderation/_post_moderation_item.html.twig' with { post: post } %}
                {% endfor %}
            {% endif %}

            <hr>

            {# ------------------------------ #}
            {# COMMENTAIRES AUTO-MASQUÉS #}
            {# ------------------------------ #}
            <h2>Commentaires auto-masqués</h2>
            {% if comments is empty %}
                <p>Aucun commentaire masqué pour le moment.</p>
            {% else %}
                {% for comment in comments %}
                    {# Partial dédié à l'affichage et restauration d'un commentaire #}
                    {% include 'partials/moderation/_comment_moderation_item.html.twig' with { comment: comment } %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}